main {
    padding: 2rem;
}

.texto-projeto {
    text-align: center;
}

.projetos ul {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    gap: 3rem;
}

.projetos ul li {
    max-width: 25rem;
    height: auto;
    background-color: var(--black-alternative);
    border-radius: 1rem;
    padding: 2rem;
    transition: box-shadow .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.projetos ul li:hover {
    box-shadow: 0px 0px 4px var(--aqua-alternative);
}

.projetos ul li h3 {
    font-size: 1.8rem;
}

.projetos ul li p {
    font-size: 1.3rem;
    text-align: justify;
    font-family: 'Nunito Sans', sans-serif;
}

.projetos ul img {
    max-width: 100%;
    height: auto;
    margin: 3rem auto;
}

@media screen and (max-width: 800px) {
    .projetos ul li {
        max-width: 30rem;
    }
    
}